<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<?pde version="3.8"?>
<target name="KNIME Analytics Platform (5.0 release)" sequenceNumber="4">
<locations>
<location includeAllPlatforms="true" includeConfigurePhase="false" includeMode="slicer" includeSource="false" type="InstallableUnit">
<unit id="com.knime.features.explorer.serverspace.feature.group" version="4.17.0.v202307170920"/>
<unit id="com.knime.features.explorer.sharedspace.feature.group" version="3.9.0.v202307120838"/>
<unit id="com.knime.features.workbench.hubview.feature.group" version="4.15.0.v202306290858"/>
<unit id="org.knime.features.activelearning.feature.group" version="5.1.0.v202306290850"/>
<unit id="org.knime.features.arima.feature.group" version="5.1.0.v202304251904"/>
<unit id="org.knime.features.audio.feature.group" version="5.1.0.v202305231437"/>
<unit id="org.knime.features.base.feature.group" version="5.1.0.v202307121227"/>
<unit id="org.knime.features.base.filehandling.feature.group" version="5.1.0.v202307131226"/>
<unit id="org.knime.features.base.pmml2.feature.group" version="5.1.0.v202303061417"/>
<unit id="org.knime.features.base.pmml.feature.group" version="5.1.0.v202303061417"/>
<unit id="org.knime.features.base.pmml.translation.feature.group" version="5.1.0.v202306290857"/>
<unit id="org.knime.features.base.views.feature.group" version="5.1.0.v202307130901"/>
<unit id="org.knime.features.base.widedata.feature.group" version="5.1.0.v202303061418"/>
<unit id="org.knime.features.bigdata.connectors.feature.group" version="5.1.0.v202306290851"/>
<unit id="org.knime.features.bigdata.databricks.feature.group" version="5.1.0.v202307120814"/>
<unit id="org.knime.features.bigdata.fileformats.feature.group" version="5.1.0.v202306290851"/>
<unit id="org.knime.features.bigdata.spark.feature.group" version="5.1.0.v202307120814"/>
<unit id="org.knime.features.bigdata.spark.local.feature.group" version="5.1.0.v202307120814"/>
<unit id="org.knime.features.bigdata.testing.feature.group" version="5.1.0.v202303061416"/>
<unit id="org.knime.features.buildworkflows.feature.group" version="5.1.0.v202307100911"/>
<unit id="org.knime.features.browser.chromium.feature.group" version="5.1.0.v202306281336"/>
<unit id="org.knime.features.chem.types.feature.group" version="5.1.0.v202303061416"/>
<unit id="org.knime.features.cloud.aws.athena.feature.group" version="5.1.0.v202305221047"/>
<unit id="org.knime.features.cloud.aws.feature.group" version="5.1.0.v202305041030"/>
<unit id="org.knime.features.cloud.aws.mlservices.feature.group" version="5.1.0.v202304121054"/>
<unit id="org.knime.features.cloud.aws.redshift.driver.feature.group" version="5.1.0.v202303311306"/>
<unit id="org.knime.features.cloud.aws.redshift.feature.group" version="5.1.0.v202304281042"/>
<unit id="org.knime.features.core.feature.group" version="5.1.0.v202307121410"/>
<unit id="org.knime.features.core.streaming.feature.group" version="5.1.0.v202303061417"/>
<unit id="org.knime.features.database.connectors.sqlserver.driver.feature.group" version="6.2.2.v202301111550"/>
<unit id="org.knime.features.database.extensions.sqlserver.driver.feature.group" version="5.0.0.v202305150934"/>
<unit id="org.knime.features.database.feature.group" version="5.1.0.v202307030838"/>
<unit id="org.knime.features.datageneration.feature.group" version="5.1.0.v202303061416"/>
<unit id="org.knime.features.dbdrivers.feature.group" version="5.1.0.v202303061416"/>
<unit id="org.knime.features.distmatrix.feature.group" version="5.1.0.v202303061416"/>
<unit id="org.knime.features.dl.keras.feature.group" version="5.1.0.v202303061416"/>
<unit id="org.knime.features.dl.onnx.feature.group" version="5.1.0.v202303061417"/>
<unit id="org.knime.features.dl.tensorflow.feature.group" version="5.1.0.v202303061417"/>
<unit id="org.knime.features.ensembles.feature.group" version="5.1.0.v202303061416"/>
<unit id="org.knime.features.explorer.view.feature.group" version="5.1.0.v202306301915"/>
<unit id="org.knime.features.expressions.feature.group" version="5.1.0.v202305121426"/>
<unit id="org.knime.features.ext.azure.feature.group" version="5.1.0.v202305172109"/>
<unit id="org.knime.features.ext.birt.feature.group" version="5.1.0.v202304251518"/>
<unit id="org.knime.features.ext.chem.tools.feature.group" version="5.1.0.v202303061416"/>
<unit id="org.knime.features.ext.dsread.feature.group" version="5.1.0.v202303061417"/>
<unit id="org.knime.features.ext.exttool.feature.group" version="5.1.0.v202303061416"/>
<unit id="org.knime.features.ext.h2o.feature.group" version="5.1.0.v202305111211"/>
<unit id="org.knime.features.ext.h2o.mojo.feature.group" version="5.1.0.v202303061416"/>
<unit id="org.knime.features.ext.h2o.mojo.spark.feature.group" version="5.1.0.v202303061417"/>
<unit id="org.knime.features.ext.h2o.spark.feature.group" version="5.1.0.v202303141401"/>
<unit id="org.knime.features.ext.itemset.feature.group" version="5.1.0.v202303061416"/>
<unit id="org.knime.features.ext.jep.feature.group" version="5.1.0.v202303061417"/>
<unit id="org.knime.features.ext.jfreechart.feature.group" version="5.1.0.v202303061417"/>
<unit id="org.knime.features.ext.jython.feature.group" version="5.1.0.v202303131021"/>
<unit id="org.knime.features.ext.libsvm.feature.group" version="5.1.0.v202303061417"/>
<unit id="org.knime.features.ext.lucene.feature.group" version="5.1.0.v202303061417"/>
<unit id="org.knime.features.ext.md.feature.group" version="5.1.0.v202303061417"/>
<unit id="org.knime.features.ext.mdf.feature.group" version="5.1.0.v202303061417"/>
<unit id="org.knime.features.ext.office365.filehandling.feature.group" version="5.1.0.v202305221338"/>
<unit id="org.knime.features.ext.osm.feature.group" version="5.1.0.v202303061417"/>
<unit id="org.knime.features.ext.parso.feature.group" version="5.1.0.v202303061417"/>
<unit id="org.knime.features.ext.perl.feature.group" version="5.1.0.v202303061417"/>
<unit id="org.knime.features.ext.poi.feature.group" version="5.1.0.v202307031219"/>
<unit id="org.knime.features.ext.powerbi.feature.group" version="5.1.0.v202305311135"/>
<unit id="org.knime.features.ext.r.bin.feature.group" version="3.4.2.v202301131058"/>
<unit id="org.knime.features.ext.spotfire.feature.group" version="5.1.0.v202303061417"/>
<unit id="org.knime.features.ext.svg.feature.group" version="5.1.0.v202307121659"/>
<unit id="org.knime.features.ext.tableau.feature.group" version="5.1.0.v202303061417"/>
<unit id="org.knime.features.ext.tableau.hyperapi.feature.group" version="5.1.0.v202307050756"/>
<unit id="org.knime.features.ext.tableau.hyper.feature.group" version="5.1.0.v202305231856"/>
<unit id="org.knime.features.ext.textprocessing.feature.group" version="5.1.0.v202303061417"/>
<unit id="org.knime.features.exttool.feature.group" version="5.1.0.v202303061416"/>
<unit id="org.knime.features.ext.twitter.feature.group" version="5.1.0.v202303211729"/>
<unit id="org.knime.features.ext.webservice.client.feature.group" version="5.1.0.v202305311223"/>
<unit id="org.knime.features.ext.weka_3.7.feature.group" version="5.1.0.v202303061418"/>
<unit id="org.knime.features.google.api.feature.group" version="5.1.0.v202307071418"/>
<unit id="org.knime.features.google.cloud.storage.feature.group" version="5.1.0.v202307071418"/>
<unit id="org.knime.features.javasnippet.feature.group" version="5.1.0.v202305191913"/>
<unit id="org.knime.features.jpmml.feature.group" version="5.1.0.v202305051220"/>
<unit id="org.knime.features.json.feature.group" version="5.1.0.v202307131156"/>
<unit id="org.knime.features.js.plotly.feature.group" version="5.1.0.v202303061417"/>
<unit id="org.knime.features.js.quickforms.feature.group" version="5.1.0.v202307111330"/>
<unit id="org.knime.features.js.views.feature.group" version="5.1.0.v202303061417"/>
<unit id="org.knime.features.js.views.labs.feature.group" version="5.1.0.v202303061417"/>
<unit id="org.knime.features.kafka.feature.group" version="5.1.0.v202303061417"/>
<unit id="org.knime.features.microsoft.r.feature.group" version="5.0.0.v202301131058"/>
<unit id="org.knime.features.mli.feature.group" version="5.1.0.v202303061417"/>
<unit id="org.knime.features.mongodb.feature.group" version="5.1.0.v202303061417"/>
<unit id="org.knime.features.neighborgram.feature.group" version="5.1.0.v202303061417"/>
<unit id="org.knime.features.network.distmatrix.feature.group" version="5.1.0.v202303061417"/>
<unit id="org.knime.features.network.feature.group" version="5.1.0.v202303061417"/>
<unit id="org.knime.features.optimization.feature.group" version="5.1.0.v202303061417"/>
<unit id="org.knime.features.orc.feature.group" version="5.1.0.v202305161052"/>
<unit id="org.knime.features.parquet.feature.group" version="5.1.0.v202303061417"/>
<unit id="org.knime.features.personalproductivity.feature.group" version="5.1.0.v202307051500"/>
<unit id="org.knime.features.product.feature.group" version="5.1.0.v202307171026"/>
<unit id="org.knime.features.python2.feature.group" version="5.1.0.v202307110639"/>
<unit id="org.knime.features.python.feature.group" version="5.1.0.v202307101326"/>
<unit id="org.knime.features.quickform.legacy.feature.group" version="5.1.0.v202305121428"/>
<unit id="org.knime.features.reporting.designer.feature.group" version="5.1.0.v202306290858"/>
<unit id="org.knime.features.reporting.runtime.feature.group" version="5.1.0.v202305040950"/>
<unit id="org.knime.features.rest.feature.group" version="5.1.0.v202307151058"/>
<unit id="org.knime.features.r.feature.group" version="5.0.0.v202301131058"/>
<unit id="org.knime.features.scm.git.feature.group" version="5.1.0.v202305091932"/>
<unit id="org.knime.features.semanticweb.feature.group" version="5.1.0.v202307100732"/>
<unit id="org.knime.features.stats2.feature.group" version="5.1.0.v202303061417"/>
<unit id="org.knime.features.stats.feature.group" version="5.1.0.v202303061417"/>
<unit id="org.knime.features.testing.application.feature.group" version="5.1.0.v202306270653"/>
<unit id="org.knime.features.timeseries.feature.group" version="5.1.0.v202303061417"/>
<unit id="org.knime.features.util.feature.group" version="5.1.0.v202307071506"/>
<unit id="org.knime.features.virtual.feature.group" version="5.1.0.v202303061418"/>
<unit id="org.knime.features.weaksupervision.feature.group" version="5.1.0.v202303061417"/>
<unit id="org.knime.features.webanalytics.feature.group" version="5.1.0.v202303061418"/>
<unit id="org.knime.features.workbench.feature.group" version="5.1.0.v202307131308"/>
<unit id="org.knime.features.xgboost.feature.group" version="5.1.0.v202305261143"/>
<unit id="org.knime.features.xml.feature.group" version="5.1.0.v202303061418"/>
<unit id="org.knime.targetPlatform.feature.group" version="5.1.0.v202307111219"/>
<repository location="https://update.knime.com/analytics-platform/5.1/"/>
</location>
</locations>
<targetJRE path="org.eclipse.jdt.launching.JRE_CONTAINER/org.eclipse.jdt.internal.debug.ui.launcher.StandardVMType/JavaSE-17"/>
<launcherArgs>
<vmArgs>-server
-Dsun.java2d.d3d=false
-Dosgi.classloader.lock=classname
-XX:+UnlockDiagnosticVMOptions
-XX:+UnsyncloadClass
-ea
-Dorg.eclipse.swt.internal.gtk.cairoGraphics=false
-Dorg.eclipse.swt.internal.gtk.useCairo=false
-Dorg.eclipse.swt.browser.IEVersion=11001</vmArgs>
</launcherArgs>
</target>