<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<?pde version="3.8"?>
<target name="KNIME Analytics Platform (4.4 release)" sequenceNumber="3">
<locations>
<location includeAllPlatforms="true" includeConfigurePhase="false" includeMode="slicer" includeSource="false" type="InstallableUnit">
<unit id="com.knime.features.explorer.serverspace.feature.group" version="4.13.0.v202106251304"/>
<unit id="com.knime.features.explorer.sharedspace.feature.group" version="3.9.0.v202104131316"/>
<unit id="com.knime.features.gateway.explorer.feature.group" version="4.13.0.v202106281621"/>
<unit id="com.knime.features.gateway.executor.feature.group" version="4.13.0.v202106281621"/>
<unit id="org.knime.features.reporting.designer.feature.group" version="4.4.0.v202104131230"/>
<unit id="org.knime.features.activelearning.feature.group" version="4.4.0.v202104131246"/>
<unit id="org.knime.features.arima.feature.group" version="4.4.0.v202104131708"/>
<unit id="org.knime.features.audio.feature.group" version="4.4.0.v202104131247"/>
<unit id="org.knime.features.base.filehandling.feature.group" version="4.4.0.v202106252341"/>
<unit id="org.knime.features.base.pmml.feature.group" version="4.4.0.v202104131353"/>
<unit id="org.knime.features.base.pmml.translation.feature.group" version="4.4.0.v202104131357"/>
<unit id="org.knime.features.base.pmml2.feature.group" version="4.4.0.v202104131353"/>
<unit id="org.knime.features.base.widedata.feature.group" version="4.4.0.v202104131258"/>
<unit id="org.knime.features.buildworkflows.feature.group" version="4.4.0.v202106230749"/>
<unit id="org.knime.features.bigdata.connectors.feature.group" version="4.4.0.v202106181257"/>
<unit id="org.knime.features.bigdata.databricks.feature.group" version="4.4.0.v202106241517"/>
<unit id="org.knime.features.bigdata.fileformats.feature.group" version="4.4.0.v202106140932"/>
<unit id="org.knime.features.bigdata.spark.feature.group" version="4.4.0.v202106241517"/>
<unit id="org.knime.features.bigdata.spark.local.feature.group" version="4.4.0.v202106252156"/>
<unit id="org.knime.features.bigdata.testing.feature.group" version="4.4.0.v202106241517"/>
<unit id="org.knime.features.chem.types.feature.group" version="4.4.0.v202104131254"/>
<unit id="org.knime.features.cloud.aws.athena.feature.group" version="4.4.0.v202106122257"/>
<unit id="org.knime.features.cloud.aws.feature.group" version="4.4.0.v202106280942"/>
<unit id="org.knime.features.cloud.aws.mlservices.feature.group" version="4.4.0.v202104131255"/>
<unit id="org.knime.features.cloud.aws.redshift.driver.feature.group" version="4.4.0.v202104131304"/>
<unit id="org.knime.features.cloud.aws.redshift.feature.group" version="4.4.0.v202105200000"/>
<unit id="org.knime.features.core.streaming.feature.group" version="4.4.0.v202104141432"/>
<unit id="org.knime.features.database.connectors.sqlserver.driver.feature.group" version="6.2.2.v202104131304"/>
<unit id="org.knime.features.database.feature.group" version="4.4.0.v202106231908"/>
<unit id="org.knime.features.datageneration.feature.group" version="4.4.0.v202104131308"/>
<unit id="org.knime.features.dbdrivers.feature.group" version="4.4.0.v202105170904"/>
<unit id="org.knime.features.distmatrix.feature.group" version="4.4.0.v202104231044"/>
<unit id="org.knime.features.dl.keras.feature.group" version="4.4.0.v202106121618"/>
<unit id="org.knime.features.dl.onnx.feature.group" version="4.4.0.v202106110939"/>
<unit id="org.knime.features.dl.tensorflow.feature.group" version="4.4.0.v202106110939"/>
<unit id="org.knime.features.ensembles.feature.group" version="4.4.0.v202106251355"/>
<unit id="org.knime.features.expressions.feature.group" version="4.4.0.v202106252311"/>
<unit id="org.knime.features.ext.azure.feature.group" version="4.4.0.v202106171552"/>
<unit id="org.knime.features.ext.birt.feature.group" version="4.4.0.v202106091334"/>
<unit id="org.knime.features.ext.chem.tools.feature.group" version="4.4.0.v202104131254"/>
<unit id="org.knime.features.ext.chromium.feature.group" version="91.0.4472.77"/>
<unit id="org.knime.features.ext.dl4j.feature.group" version="4.4.0.v202104131313"/>
<unit id="org.knime.features.ext.dsread.feature.group" version="4.4.0.v202104131420"/>
<unit id="org.knime.features.ext.exttool.feature.group" version="4.4.0.v202104131314"/>
<unit id="org.knime.features.ext.h2o.feature.group" version="4.4.0.v202106110903"/>
<unit id="org.knime.features.ext.h2o.mojo.feature.group" version="4.4.0.v202105060938"/>
<unit id="org.knime.features.ext.h2o.mojo.spark.feature.group" version="4.4.0.v202106010909"/>
<unit id="org.knime.features.ext.h2o.spark.feature.group" version="4.4.0.v202105261524"/>
<unit id="org.knime.features.ext.itemset.feature.group" version="4.4.0.v202104131321"/>
<unit id="org.knime.features.ext.jep.feature.group" version="4.4.0.v202104131321"/>
<unit id="org.knime.features.ext.jfreechart.feature.group" version="4.4.0.v202104131322"/>
<unit id="org.knime.features.ext.jython.feature.group" version="4.4.0.v202104131404"/>
<unit id="org.knime.features.ext.libsvm.feature.group" version="4.4.0.v202104131322"/>
<unit id="org.knime.features.ext.lucene.feature.group" version="4.4.0.v202105071026"/>
<unit id="org.knime.features.ext.md.feature.group" version="4.4.0.v202104131406"/>
<unit id="org.knime.features.ext.office365.filehandling.feature.group" version="4.4.0.v202106151457"/>
<unit id="org.knime.features.ext.osm.feature.group" version="4.4.0.v202104131351"/>
<unit id="org.knime.features.ext.parso.feature.group" version="4.4.0.v202105070000"/>
<unit id="org.knime.features.ext.perl.feature.group" version="4.4.0.v202104131353"/>
<unit id="org.knime.features.ext.poi.feature.group" version="4.4.0.v202106250736"/>
<unit id="org.knime.features.ext.r.bin.feature.group" version="3.4.2.v202106241444"/>
<unit id="org.knime.features.ext.twitter.feature.group" version="4.4.0.v202106040801"/>
<unit id="org.knime.features.ext.tableau.hyperapi.feature.group" version="4.4.0.v202106151439"/>
<unit id="org.knime.features.ext.textprocessing.dl4j.feature.group" version="4.4.0.v202104131313"/>
<unit id="org.knime.features.ext.textprocessing.feature.group" version="4.4.0.v202106141441"/>
<unit id="org.knime.features.ext.webservice.client.feature.group" version="4.4.0.v202104131538"/>
<unit id="org.knime.features.ext.webservice.client.ppilot.feature.group" version="4.4.0.v202104131538"/>
<unit id="org.knime.features.ext.weka_3.7.feature.group" version="4.4.0.v202104271009"/>
<unit id="org.knime.features.exttool.feature.group" version="4.4.0.v202104131314"/>
<unit id="org.knime.features.google.api.feature.group" version="4.4.0.v202106251259"/>
<unit id="org.knime.features.jpmml.feature.group" version="4.4.0.v202104131353"/>
<unit id="org.knime.features.js.plotly.feature.group" version="4.4.0.v202104131356"/>
<unit id="org.knime.features.js.quickforms.feature.group" version="4.4.0.v202106281443"/>
<unit id="org.knime.features.js.views.feature.group" version="4.4.0.v202106240941"/>
<unit id="org.knime.features.js.views.labs.feature.group" version="4.4.0.v202104131324"/>
<unit id="org.knime.features.json.feature.group" version="4.4.0.v202106250844"/>
<unit id="org.knime.features.kafka.feature.group" version="4.4.0.v202106230754"/>
<unit id="org.knime.features.microsoft.r.feature.group" version="4.4.0.v202104131409"/>
<unit id="org.knime.features.mongodb.feature.group" version="4.4.0.v202106221808"/>
<unit id="org.knime.features.neighborgram.feature.group" version="4.4.0.v202104131349"/>
<unit id="org.knime.features.network.distmatrix.feature.group" version="4.4.0.v202104131348"/>
<unit id="org.knime.features.network.feature.group" version="4.4.0.v202104131348"/>
<unit id="org.knime.features.optimization.feature.group" version="4.4.0.v202106101426"/>
<unit id="org.knime.features.parquet.feature.group" version="4.4.0.v202104131353"/>
<unit id="org.knime.features.personalproductivity.feature.group" version="4.4.0.v202104271939"/>
<unit id="org.knime.features.python2.feature.group" version="4.4.0.v202106250919"/>
<unit id="org.knime.features.quickform.legacy.feature.group" version="4.4.0.v202104131545"/>
<unit id="org.knime.features.r.feature.group" version="4.4.0.v202106251046"/>
<unit id="org.knime.features.rest.feature.group" version="4.4.0.v202106241504"/>
<unit id="org.knime.features.scm.git.feature.group" version="4.4.0.v202104131419"/>
<unit id="org.knime.features.semanticweb.feature.group" version="4.4.0.v202104131408"/>
<unit id="org.knime.features.stats2.feature.group" version="4.4.0.v202106041314"/>
<unit id="org.knime.features.testing.application.feature.group" version="4.4.0.v202106231454"/>
<unit id="org.knime.features.virtual.feature.group" version="4.4.0.v202104191622"/>
<unit id="org.knime.features.webanalytics.feature.group" version="4.4.0.v202104131305"/>
<unit id="org.knime.features.xgboost.feature.group" version="4.4.0.v202104131257"/>
<unit id="org.knime.features.xml.feature.group" version="4.4.0.v202104131254"/>
<unit id="org.knime.features.database.extensions.sqlserver.driver.feature.group" version="4.2.0.v202104131304"/>
<unit id="org.knime.features.ext.mdf.feature.group" version="4.4.0.v202106110944"/>
<unit id="org.knime.features.ext.powerbi.feature.group" version="4.4.0.v202106241409"/>
<unit id="org.knime.features.google.cloud.storage.feature.group" version="4.4.0.v202106252218"/>
<unit id="org.knime.features.javasnippet.feature.group" version="4.4.0.v202106241003"/>
<unit id="org.knime.features.mli.feature.group" version="4.4.0.v202104131340"/>
<unit id="org.knime.features.stats.feature.group" version="4.4.0.v202104131324"/>
<unit id="org.knime.features.timeseries.feature.group" version="4.4.0.v202104131310"/>
<unit id="org.knime.features.weaksupervision.feature.group" version="4.4.0.v202104131315"/>
<repository location="https://update.knime.com/analytics-platform/4.4/"/>
</location>
</locations>
<targetJRE path="org.eclipse.jdt.launching.JRE_CONTAINER/org.eclipse.jdt.internal.debug.ui.launcher.StandardVMType/JavaSE-1.8"/>
<launcherArgs>
<vmArgs>-server
-Dsun.java2d.d3d=false
-Dosgi.classloader.lock=classname
-XX:+UnlockDiagnosticVMOptions
-XX:+UnsyncloadClass 
-XX:+UseG1GC
-ea
-Dorg.eclipse.swt.internal.gtk.cairoGraphics=false
-Dorg.eclipse.swt.internal.gtk.useCairo=false
-Dorg.eclipse.swt.browser.IEVersion=11001</vmArgs>
</launcherArgs>
</target>
