<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<?pde version="3.8"?>
<target name="KNIME Analytics Platform (4.2 release)" sequenceNumber="3">
<locations>
<location includeAllPlatforms="true" includeConfigurePhase="false" includeMode="slicer" includeSource="false" type="InstallableUnit">
<unit id="org.knime.desktop.product" version="4.2.0.v202007101308"/>
<unit id="com.knime.features.explorer.serverspace.feature.group" version="4.11.0.v202007091923"/>
<unit id="com.knime.features.gateway.explorer.feature.group" version="4.11.0.v202007101243"/>
<unit id="com.knime.features.gateway.remote.feature.group" version="4.11.0.v202007101243"/>
<unit id="org.knime.features.activelearning.feature.group" version="4.2.0.v202006171506"/>
<unit id="org.knime.features.arima.feature.group" version="4.2.0.v202005222032"/>
<unit id="org.knime.features.audio.feature.group" version="4.2.0.v202006171508"/>
<unit id="org.knime.features.base.filehandling.feature.group" version="4.2.0.v202005241215"/>
<unit id="org.knime.features.base.pmml.feature.group" version="4.2.0.v202003261551"/>
<unit id="org.knime.features.base.pmml.translation.feature.group" version="4.2.0.v202005261919"/>
<unit id="org.knime.features.base.pmml2.feature.group" version="4.2.0.v202003261551"/>
<unit id="org.knime.features.base.widedata.feature.group" version="4.2.0.v202003231244"/>
<unit id="org.knime.features.bigdata.connectors.feature.group" version="4.2.0.v202007080953"/>
<unit id="org.knime.features.bigdata.fileformats.feature.group" version="4.2.0.v202007080953"/>
<unit id="org.knime.features.bigdata.spark.feature.group" version="4.2.0.v202007101343"/>
<unit id="org.knime.features.bigdata.spark.local.feature.group" version="4.2.0.v202007101343"/>
<unit id="org.knime.features.bigdata.testing.feature.group" version="4.2.0.v202006171509"/>
<unit id="org.knime.features.chem.types.feature.group" version="4.2.0.v202006171516"/>
<unit id="org.knime.features.cloud.aws.athena.feature.group" version="4.2.0.v202006260952"/>
<unit id="org.knime.features.cloud.aws.feature.group" version="4.2.0.v202006171540"/>
<unit id="org.knime.features.cloud.aws.mlservices.feature.group" version="4.2.0.v202006171540"/>
<unit id="org.knime.features.cloud.aws.redshift.driver.feature.group" version="4.2.0.v201912131001"/>
<unit id="org.knime.features.cloud.aws.redshift.feature.group" version="4.2.0.v202006171540"/>
<unit id="org.knime.features.cloud.azure.feature.group" version="4.2.0.v202006171540"/>
<unit id="org.knime.features.core.streaming.feature.group" version="4.2.0.v202002191629"/>
<unit id="org.knime.features.database.connectors.sqlserver.driver.feature.group" version="6.2.2.v202005010447"/>
<unit id="org.knime.features.database.feature.group" version="4.2.0.v202006272118"/>
<unit id="org.knime.features.datageneration.feature.group" version="4.2.0.v202002251753"/>
<unit id="org.knime.features.dbdrivers.feature.group" version="4.2.0.v202006221532"/>
<unit id="org.knime.features.distmatrix.feature.group" version="4.2.0.v202007082019"/>
<unit id="org.knime.features.dl.keras.feature.group" version="4.2.0.v202007071214"/>
<unit id="org.knime.features.dl.onnx.feature.group" version="4.2.0.v202006241028"/>
<unit id="org.knime.features.dl.tensorflow.feature.group" version="4.2.0.v202006241028"/>
<unit id="org.knime.features.ensembles.feature.group" version="4.2.0.v202004061016"/>
<unit id="org.knime.features.expressions.feature.group" version="4.2.0.v202006150930"/>
<unit id="org.knime.features.ext.birt.feature.group" version="4.2.0.v202007031305"/>
<unit id="org.knime.features.ext.chem.tools.feature.group" version="4.2.0.v202006171516"/>
<unit id="org.knime.features.ext.chromium.feature.group" version="83.0.4103.116"/>
<unit id="org.knime.features.ext.dl4j.feature.group" version="4.2.0.v202007031306"/>
<unit id="org.knime.features.ext.exttool.feature.group" version="4.2.0.v202005261930"/>
<unit id="org.knime.features.ext.h2o.feature.group" version="4.2.0.v202006300903"/>
<unit id="org.knime.features.ext.h2o.mojo.feature.group" version="4.2.0.v202007031306"/>
<unit id="org.knime.features.ext.h2o.mojo.spark.feature.group" version="4.2.0.v202006181634"/>
<unit id="org.knime.features.ext.h2o.spark.feature.group" version="4.2.0.v202007080811"/>
<unit id="org.knime.features.ext.itemset.feature.group" version="4.2.0.v202004301323"/>
<unit id="org.knime.features.ext.jep.feature.group" version="4.2.0.v202007090913"/>
<unit id="org.knime.features.ext.jfreechart.feature.group" version="4.2.0.v202005231356"/>
<unit id="org.knime.features.ext.jython.feature.group" version="4.2.0.v202006261130"/>
<unit id="org.knime.features.ext.lucene.feature.group" version="4.2.0.v202005081406"/>
<unit id="org.knime.features.ext.md.feature.group" version="4.2.0.v202004142045"/>
<unit id="org.knime.features.ext.osm.feature.group" version="4.2.0.v201912131003"/>
<unit id="org.knime.features.ext.parso.feature.group" version="4.2.0.v202004162034"/>
<unit id="org.knime.features.ext.perl.feature.group" version="4.2.0.v202003172102"/>
<unit id="org.knime.features.ext.poi.feature.group" version="4.2.0.v202006251429"/>
<unit id="org.knime.features.ext.r.bin.feature.group" version="3.4.2.v202007101647"/>
<unit id="org.knime.features.ext.svg.feature.group" version="4.2.0.v202006170000"/>
<unit id="org.knime.features.ext.tableau.feature.group" version="4.2.0.v202006300719"/>
<unit id="org.knime.features.ext.tableau.hyper.feature.group" version="4.2.0.v202006300719"/>
<unit id="org.knime.features.ext.textprocessing.dl4j.feature.group" version="4.2.0.v202007031307"/>
<unit id="org.knime.features.ext.textprocessing.feature.group" version="4.2.0.v202006151600"/>
<unit id="org.knime.features.ext.webservice.client.feature.group" version="4.2.0.v202005240945"/>
<unit id="org.knime.features.ext.webservice.client.ppilot.feature.group" version="4.2.0.v202006230508"/>
<unit id="org.knime.features.ext.weka_3.7.feature.group" version="4.2.0.v202007031307"/>
<unit id="org.knime.features.jpmml.feature.group" version="4.2.0.v201912131003"/>
<unit id="org.knime.features.js.plotly.feature.group" version="4.2.0.v202006071334"/>
<unit id="org.knime.features.js.quickforms.feature.group" version="4.2.0.v202007101241"/>
<unit id="org.knime.features.js.views.feature.group" version="4.2.0.v202007072042"/>
<unit id="org.knime.features.js.views.labs.feature.group" version="4.2.0.v202007021359"/>
<unit id="org.knime.features.json.feature.group" version="4.2.0.v202006181437"/>
<unit id="org.knime.features.kafka.feature.group" version="4.2.0.v202006230509"/>
<unit id="org.knime.features.microsoft.r.feature.group" version="4.2.0.v202006230506"/>
<unit id="org.knime.features.mongodb.feature.group" version="4.2.0.v202006171547"/>
<unit id="org.knime.features.neighborgram.feature.group" version="4.2.0.v202002240952"/>
<unit id="org.knime.features.network.distmatrix.feature.group" version="4.2.0.v201912131003"/>
<unit id="org.knime.features.network.feature.group" version="4.2.0.v202007031306"/>
<unit id="org.knime.features.optimization.feature.group" version="4.2.0.v202005042102"/>
<unit id="org.knime.features.parquet.feature.group" version="4.2.0.v202007071950"/>
<unit id="org.knime.features.personalproductivity.feature.group" version="4.2.0.v202001210919"/>
<unit id="org.knime.features.python2.feature.group" version="4.2.0.v202007071503"/>
<unit id="org.knime.features.quickform.legacy.feature.group" version="4.2.0.v202002210924"/>
<unit id="org.knime.features.r.feature.group" version="4.2.0.v202007031307"/>
<unit id="org.knime.features.reporting.designer.feature.group" version="4.2.0.v202007070722"/>
<unit id="org.knime.features.rest.feature.group" version="4.2.0.v202006301416"/>
<unit id="org.knime.features.scm.git.feature.group" version="4.2.0.v202005260607"/>
<unit id="org.knime.features.semanticweb.feature.group" version="4.2.0.v201912131004"/>
<unit id="org.knime.features.stats2.feature.group" version="4.2.0.v202005281254"/>
<unit id="org.knime.features.testing.application.feature.group" version="4.2.0.v202006260924"/>
<unit id="org.knime.features.virtual.feature.group" version="4.2.0.v202004271350"/>
<unit id="org.knime.features.webanalytics.feature.group" version="4.2.0.v202005141321"/>
<unit id="org.knime.features.xgboost.feature.group" version="4.2.0.v202006171420"/>
<unit id="org.knime.features.xml.feature.group" version="4.2.0.v202006091602"/>
<repository location="https://update.knime.com/analytics-platform/4.2/"/>
</location>
</locations>
<targetJRE path="org.eclipse.jdt.launching.JRE_CONTAINER/org.eclipse.jdt.internal.debug.ui.launcher.StandardVMType/JavaSE-1.8"/>
<launcherArgs>
<vmArgs>-server
-Dsun.java2d.d3d=false
-Dosgi.classloader.lock=classname
-XX:+UnlockDiagnosticVMOptions
-XX:+UnsyncloadClass 
-XX:+UseG1GC
-ea
-Dorg.eclipse.swt.internal.gtk.cairoGraphics=false
-Dorg.eclipse.swt.internal.gtk.useCairo=false
-Dorg.eclipse.swt.browser.IEVersion=11001</vmArgs>
</launcherArgs>
</target>